/* .card img {
  width: 90%;
  height: 150px;
  border-radius: 10px !important;

}
.card-body {
  padding-top: 5px !important;
  flex-grow: 0.5 !important;
  gap: 0.2rem !important;
  padding-bottom: 10px !important;
  margin-bottom: 0px !important;
}
.card-title {
  margin-bottom: 0px !important;
}
.addButton {
  background-color: #ff2b7f;
  border-color: #ff2b7f;
  color: white;
} */
/* background-color: #0b0c31; */
/* #090A27 */
